#
# @(#) EnduroX Persistent Queue Configuration
#

@,svcnm=-,autoq=n,waitinit=0,waitretry=0,waitretryinc=0,waitretrymax=0,memonly=n
TEST1
# Where to put bad messages
DEADQ
# Where to put OK replies:
REPLYQ
# Auto Q 1, for OK service
OKQ1,svcnm=SVCOK,autoq=y,tries=5,waitinit=1,waitretry=2,waitretryinc=2,waitretrymax=10,memonly=n
# Bad service
BADQ1,svcnm=SVCFAIL,autoq=y,tries=3,waitinit=1,waitretry=2,waitretryinc=2,waitretrymax=3,memonly=n
