# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
install_manifest.txt
nbproject
include/ndrx_config.h
sampleconfig/*
*.log
*.pdf
CMakeFiles
*.cmake
*.so
*.out
libubf/expr.lex.c
libubf/expr.tab.c
libubf/expr.tab.h
Makefile
*.a
CMakeCache.txt
*.html
!pscript.html
!psstdlib.html
*.css
*.sv*
atmitest/test028_tmq/q.conf
atmitest/test006_ulog/log
*.png
!exforward_forward.png
!exforward_tpcall.png
!rt-patching.png
!server_monitoring_and_recovery.png
!tmqinternals.png
atmitest/test029_inicfg/C_test.ini
*.dylib
*.8
*.5
*.3
libatmisrv/atmisrvinteg.pc
atmitest/test040_typedview/t40.V
atmitest/test040_typedview/t40.h
atmitest/test040_typedview/t40_2.V
atmitest/test040_typedview/t40_2.h
libpsstdlib/WizardBase.c
xadmin/Exfields.c
xadmin/gen_c_client.c
xadmin/gen_c_server.c
xadmin/gen_go_client.c
xadmin/gen_go_server.c
xadmin/gen_ubf_tab.c
xadmin/provision.c
/dist/
atmitest/test056_tpimpexp/t56.V
atmitest/test056_tpimpexp/t56.h
xadmin/gen_test_local.c
xadmin/ndrx_config.c
libextest/test_view.h
libextest/test_view.V
xadmin/gen_java_client.c
xadmin/gen_java_server.c
xadmin/gen_python_client.c
xadmin/gen_python_server.c
ubftest/ULOG.*
ndrxd/expr_range.lex.c
ndrxd/expr_range.tab.c
ndrxd/expr_range.tab.h
migration/tuxedo/ddr.lex.c
migration/tuxedo/ddr.tab.c
migration/tuxedo/ddr.tab.h
migration/tuxedo/ubb.lex.c
migration/tuxedo/ubb.tab.c
migration/tuxedo/ubb.tab.h
migration/tuxedo/ubb2ex_bytecode.c
build/compile_commands.json
build/doc/tmqinternals.png
build/include/ndrx_config.h
build/libatmisrv/atmisrvinteg.pc
build/libubf/expr.lex.c
build/libubf/expr.tab.c
build/libubf/expr.tab.h
atmitest/*/ULOG.*
atmitest/test031_logging/logs_cfg/*
atmitest/test033_provision/runtime/*
atmitest/test043_encrypt/test.conf
atmitest/test046_twopasscfg/app.ini
atmitest/test048_cache/*/*.edb
atmitest/test048_cache/*/*/*.edb
atmitest/test050_ubfdb/db/*.edb
atmitest/test077_diedslowstrt/first-indicator.txt
atmitest/test083_ddrsyntax/ndrxconfig-dom1.xml
atmitest/test084_ddr/ndrxconfig-dom1.xml
atmitest/test087_tmsrv/lib1.rets
atmitest/test087_tmsrv/lib2.rets
atmitest/test090_tuxmig/env_common.txt
.vscode/*
