# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
install_manifest.txt
nbproject
include/ndrx_config.h
sampleconfig/*
*.log
*.pdf
CMakeFiles
*.cmake
*.so
*.out
libubf/expr.lex.c
libubf/expr.tab.c
libubf/expr.tab.h
Makefile
*.a
CMakeCache.txt
*.html
!pscript.html
!psstdlib.html
*.css
*.sv*
atmitest/test028_tmq/q.conf
atmitest/test006_ulog/log
*.png
!exforward_forward.png
!exforward_tpcall.png
!rt-patching.png
!server_monitoring_and_recovery.png
!tmqinternals.png
atmitest/test029_inicfg/C_test.ini
*.dylib
*.8
*.5
*.3
